{% extends "base.html" %}

{% block content %}
<h2>Search Users</h2>

<form method="get">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" placeholder="Enter name" class="form_inp">

  <label for="job_title">Job title:</label>
  <input type="text" name="job_title" id="job_title" placeholder="Enter job title" class="form_inp">

  <label for="email">Email:</label>
  <input type="text" name="email" id="email" placeholder="Enter email" class="form_inp">

  <input type="submit" value="Search" class="sign_in_button">
</form>

{% if users %}
  <h3>Results:</h3>
  <ul>
    {% for user in users %}
      <li class="feck" >
        <div onclick="location.href='{{ url_for('dashboard.profile_view', user_id=user.id)}}'">{{ user.name}} </div>
        <div onclick="location.href='{{ url_for('dashboard.profile_view', user_id=user.id)}}'">{{ user.job_title}}</div>
        <div onclick="location.href='{{ url_for('dashboard.profile_view', user_id=user.id)}}'">{{ user.email_address}}</div>
          {% if g.user.is_admin %}
        <div><button onclick="location.href='{{ url_for('dashboard.delete_user', user_id=user.id)}}'" class="sign_in_button">Delete user</button></div>
        <div><button onclick="location.href='{{ url_for('dashboard.update_user', user_id=user.id)}}'" class="sign_in_button">Update user</button></div>
      {% endif %}
      </li>

      <p> </p>
    {% endfor %}
  </ul>
{% elif request.args %}
  <p>No users found.</p>
{% endif %}
{% endblock %}
