{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update User{% endblock %}</h1>
{% endblock %}

{% block content %}
<form class="reg_form" method="post" onsubmit="return confirmUpdate()">
{{ form.hidden_tag() }}  {# Includes CSRF token #}
  <div class="form-columns">

    <!-- Left Column -->
    <div class="form-column">
      <div class="form-group">
        {{ form.name.label }} {{ form.name(class="form_inp") }}
      </div>
      <div class="form-group">
        {{ form.maiden_name.label }} {{ form.maiden_name(class="form_inp") }}
      </div>
      <div class="form-group">
        {{ form.mothers_name.label }} {{ form.mothers_name(class="form_inp") }}
      </div>
      <div class="form-group">
        {{ form.pob.label }} {{ form.pob(class="form_inp") }}
      </div>
      <div class="form-group">
        {{ form.dob.label }} {{ form.dob(class="form_inp") }}
      </div>
    </div>

    <!-- Right Column -->
    <div class="form-column">
      <div class="form-group">
        {{ form.address.label }} {{ form.address(class="form_inp") }}
      </div>
      <div class="form-group">
        {{ form.tax_num.label }} {{ form.tax_num(class="form_inp") }}
      </div>
      <div class="form-group">
        {{ form.taj_number.label }} {{ form.taj_number(class="form_inp") }}
      </div>
      <div class="form-group">
        {{ form.job_title.label }} {{ form.job_title(class="form_inp") }}
      </div>
      <div class="form-group">
        {{ form.base_pay.label }} {{ form.base_pay(class="form_inp") }}
      </div>
    </div>
  </div>

  <div class="form-submit">
    <input type="submit" value="Update" class="sign_in_button">
  </div>
</form>
{% endblock %}