@font-face {
    font-family: "JetBrains Sans";
    src: url("fonts/JetBrainsSans-Regular.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.woff2");
}

:root {
    font-family: "JetBrains Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    text-align: center;
}
blockquote{
    font-family: "JetBrains Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-shadow: inset 0.3em 0.3em 1em mediumpurple,
                0 0 0 2px white;
}

.title_row{
    /*border: 5px ridge #f00;*/
    display: flex;
    justify-content: space-evenly;
    margin-right: 2vh;
    margin-left: 2vh;
    text-shadow: 1px 1px 2px mediumpurple, 0 0 1em mediumpurple, 0 0 0.2em mediumpurple;

}

.debug{
    border-style: solid;
    border-color: aquamarine;
    list-style-type: none;
    display: flex;
    padding: 10px;
    gap:    10px;
    justify-content: center;
}


.sign_in_form{
    /*border: 5px ridge #f00;*/
  display: flex;
  flex-direction: column;
  align-items: center;
    color: rgba(243, 244, 246, 1);
}


.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}



.reg_form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_inp{
    color: white;
  border: 2px solid mediumpurple;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
}

.form_inp:active{
      box-shadow: 2px 2px 15px #8707ff inset;
}

.username_inp{
    margin: 1vh;
}

.pass_inp{
    margin: 1vh;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-image: url("background.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    font-size: 29px;
    line-height: 39px;
    font-weight: 300;
}

.title {
    margin-bottom: 40px;
}

#app {
    max-width: 1280px;
}

.logo {
    margin-top: 45px;
    margin-left: 20%;
    align-self: flex-start;
}



img {
    max-width: 100%;
    height: auto;
}

.sign_in_row{

    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    width: 320px;
}


.input_group{
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
}

.sign_in_button {
    font-family: "JetBrains Mono", Inter, system-ui, sans-serif;
    background-color: rgba(25, 25, 28, 0.5);
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    padding:10px 20px ;
}

.sign_in_button:hover {
    background-image: radial-gradient(
            farthest-corner at 150% 200%,
            rgba(168, 96, 234, 0.64) 28%,
            rgba(25, 25, 28, 0) 70%
    );
    border: 1px solid rgb(153, 105, 199);
    background-clip: padding-box;
}
.dashboard_container{
    /*border: 5px ridge;*/
    display: flex;
    gap: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top_row {
    /*border: 5px ridge #8800ff;*/
    display: flex;
    gap: 30vw;
    width: 100%;
    justify-content: flex-start;
    margin-right: 2vh;
    margin-left: 2vh;
    text-shadow: 1px 1px 2px mediumpurple, 0 0 1em mediumpurple, 0 0 0.2em mediumpurple;
    #border-style: solid;
    #border-color: red;
}

.logo1{
    /*border: 5px ridge #1157bf;*/
    margin-left: 1%;
    width: 100%;
    text-align: left;
}


.welcome_message{
    /*border: 5px ridge #11bf19;*/
    text-align: center;
    width: 100%;
}

.middle_row {
    /*#border: 5px ridge #f00;*/
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.bottom_row {
    /*border: 5px ridge #f00;*/
    width: 100%;
}
.profile{
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    align-content: start;
}

.sidebar {
    width: 25%;
    height: 75%;
}

.form-columns {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.form-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 80px;
  min-width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form_inp {
  padding: 0.75rem 1rem;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #a076f9;
  background: transparent;
  color: white;
}

.username_label{
  display: block;
  margin-bottom: 4px;
}

.password_label{
  display: block;
  margin-bottom: 4px;
}

label {
  margin-bottom: 5px;
  color: white;
  font-size: 14px;
  text-align: left;
}




.profile-card{
    font-family: "JetBrains Mono", Inter, system-ui, sans-serif;
    background-color: rgba(25, 25, 28, 0.5);
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.profile-card:hover{
        background-image: radial-gradient(
            farthest-corner at 150% 200%,
            rgba(168, 96, 234, 0.64) 28%,
            rgba(25, 25, 28, 0) 70%
    );
    border: 1px solid rgb(153, 105, 199);
    background-clip: padding-box;
}

.profile-proj{
    font-family: "JetBrains Mono", Inter, system-ui, sans-serif;
    background-color: rgba(25, 25, 28, 0.5);
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.profile-proj:hover{
        background-image: radial-gradient(
            farthest-corner at 150% 200%,
            rgba(168, 96, 234, 0.64) 28%,
            rgba(25, 25, 28, 0) 70%
    );
    border: 1px solid rgb(153, 105, 199);
    background-clip: padding-box;
}
.profile-picture{
    width: 50%;
    height: 50%;
}

.back_btn{
    font-family: "JetBrains Mono", Inter, system-ui, sans-serif;
    background-color: rgba(25, 25, 28, 0.5);
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    height: 50px;
    width: 100px;
}

.tile{
    font-family: "JetBrains Mono", Inter, system-ui, sans-serif;
    background-color: rgba(25, 25, 28, 0.5);
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    height: 200px;
    width: 250px;
}

.tile:hover {
    background-image: radial-gradient(
            farthest-corner at 150% 200%,
            rgba(168, 96, 234, 0.64) 28%,
            rgba(25, 25, 28, 0) 70%
    );
    border: 1px solid rgb(153, 105, 199);
    background-clip: padding-box;
}


@media (max-width: 875px) {

    .logo {
        margin-top: 10px;
    }

    .title {
        margin-bottom: 30px;
    }
}
